<link href="/customer/css/account.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<main id="page">
  <div class="bg_gray">

    <div class="container margin_30">
      <div class="page_header">
        <div class="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Category</a></li>
            <li>Page active</li>
          </ul>
        </div>
        <h1>Change your password</h1>
      </div>
      <!-- /page_header -->
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-8">
          <div class="box_account">
            <h3 class="client">Change Password</h3>
            <div class="form_container">
              <form class="row no-gutters d-flex justify-content-center" id="myForm">
              <div class="form-group">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Email*"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  
                  value=""
                  placeholder="Current password*"
                />
              </div>
              <div class="line mb-2 mt-2">
                <hr >
              </div>
               <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  name="newpassword"
                  placeholder="New password*"
                />
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  name="cfnewpassword"
                  value=""
                  placeholder="Confirm new password*"
                />
              </div>
              <div class="text-center mt-3 col-3">
                <button
                  type="submit"
                  class="btn_1 full-width"
                  id="submitButton">
                  Submit
                </button>
                </div>

                 
              
              </form>
            </div>
            <!-- /form_container -->
          </div>
          <!-- /box_account -->
    
          <!-- /row -->
        </div>

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!--/main-->

  <!--SCRIPTS -->
 

  <!--/footer-->
</main>
<!-- page -->
<!-- main -->
<script>
     $(document).ready(function () {
            // Handle form submission
            $('#submitButton').on('click', function () {
                // Serialize form data
                 event.preventDefault();
                var formData = $('#myForm').serialize();
                
                // Send AJAX request
                $.ajax({
                    type: 'POST',
                    url: '/update-password', // Replace with your server-side endpoint
                    data: formData,
                    success: function (response) {
                        // Handle the success response here
                        alert(response.message);
                        window.location.href = '/home'
                    },
                    error: function (error) {
                        // Handle the error response here
                        console.log(error)
                        alert(error.responseJSON.error);
                    }
                });
            });
        });
</script>
