
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">ADD A PRODUCT</h4>

    <!-- Basic Layout -->
    
        <div class="col-xl">
            <div class="card mb-4">
                
                <div class="card-body">
                    <form action ="/admin/addProductForm" method="post">
                        <div class="row no-gutters mb-3">
                            <div class="col-4 pl-1 " >
                                <label class="form-label" for="basic-icon-default-fullname">Product name</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-box" class="input-group-text"><i
                                            class="bx bx-box"></i></span>
                                    <input type="text" class="form-control" id="basic-icon-default-fullname"
                                        name = "name"
                                        aria-describedby="basic-icon-default-fullname2" /> 
                                </div>
                            </div>
                             <div class="col-4 pl-1" >
                                <label class="form-label" for="basic-icon-default-company">Brand</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-purchase-tag" class="input-group-text"><i
                                            class="bx bx-purchase-tag"></i></span>
                                    <input name ="brand" type="text" id="basic-icon-default-company" class="form-control"
                                        aria-describedby="basic-icon-default-company2" />
                                </div>
                            </div>
                        </div>
                         <div class="row no-gutters mb-3">
                            <div class="col-4 pl-1" >
                                <label class="form-label" for="basic-icon-default-fullname">Price</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-dollar" class="input-group-text"><i
                                            class="bx bx-dollar"></i></span>
                                    <input  name ="price" type="text" class="form-control" id="basic-icon-default-dollar"
                                        aria-describedby="basic-icon-default-fullname2" /> 
                                </div>
                            </div>
                            <div class="col-4 pl-1" >
                                <label class="form-label" for="basic-icon-default-fullname">Category</label>
                                    <select name = "category" class="form-select form-select-m mb-3" aria-label=".form-select-lg example">
                                        <option value="Sport">Sport</option>
                                        <option value="Fashion">Fashion</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                       <div class="row no-gutters mb-3">
                            <div class="col-2 pl-1" >
                                <label class="form-label" for="basic-icon-default-fullname">Main color</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-dollar" class="input-group-text"><i
                                            class="bx bx-color-fill"></i></span>
                                    <input  name ="color[]" type="text" class="form-control" id="basic-icon-default-dollar"
                                        aria-describedby="basic-icon-default-fullname2" /> 
                                </div>
                            </div>
                            <div class="col-2 pl-1" >
                                <label class="form-label" for="basic-icon-default-fullname">Color #2</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-dollar" class="input-group-text"><i
                                            class="bx bx-color-fill"></i></span>
                                    <input  name ="color[]" type="text" class="form-control" id="basic-icon-default-dollar"
                                        aria-describedby="basic-icon-default-fullname2" /> 
                                </div>
                            </div>
                            <div class="col-2 pl-1" >
                                <label class="form-label" for="basic-icon-default-fullname">Color #3</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-dollar" class="input-group-text"><i
                                            class="bx bx-color-fill"></i></span>
                                    <input  name ="color[]" type="text" class="form-control" id="basic-icon-default-dollar"
                                        aria-describedby="basic-icon-default-fullname2" /> 
                                </div>
                            </div>
                            <div class="col-2 pl-1" >
                                <label class="form-label" for="basic-icon-default-fullname">Color #4</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-dollar" class="input-group-text"><i
                                            class="bx bx-color-fill"></i></span>
                                    <input  name ="color[]" type="text" class="form-control" id="basic-icon-default-dollar"
                                        aria-describedby="basic-icon-default-fullname2" /> 
                                </div>
                            </div>
                        </div>
                        <label class="form-label" for="basic-icon-default-company">Sizes</label>

                        <div class="mb-3 col-8 justify-content-between d-flex" >
                                <label style="margin-right:15px">
                                    <input type="checkbox" name="size[]" value="7"> 7
                                </label>
                                <label style="margin-right:15px">
                                    <input type="checkbox" name="size[]" value="7.5"> 7.5
                                </label>
                                 <label style="margin-right:15px">
                                    <input type="checkbox" name="size[]" value="8"> 8
                                </label>
                                 <label style="margin-right:15px">
                                    <input type="checkbox" name="size[]" value="8.5"> 8.5
                                </label>
                                 <label style="margin-right:15px">
                                    <input type="checkbox" name="size[]" value="9"> 9
                                </label>
                                 <label style="margin-right:15px">
                                    <input type="checkbox" name="size[]" value="9.5"> 9.5
                                </label>
                                 <label style="margin-right:15px">
                                    <input type="checkbox" name="size[]" value="10"> 10
                                </label>
                                 <label style="margin-right:15px">
                                    <input type="checkbox" name="size[]" value="10.5"> 10.5
                                </label>
                                 <label style="margin-right:15px">
                                    <input type="checkbox" name="size" value="11"> 11
                                </label>
                                 <label style="margin-right:15px">
                                    <input type="checkbox" name="size" value="11.5"> 11.5
                                </label>
                                <label>
                                    <input type="checkbox" name="size" value="12"> 12
                                </label>
                        </div>
                        <div class="mb-3">
                             <div class="pl-1 col-8" >
                                <label class="form-label" for="basic-icon-default-fullname">Image</label>
                                <div class="input-group input-group-merge">
                                    <span id="basic-icon-default-image-add" class="input-group-text"><i
                                            class="bx bx-image-add"></i></span>
                                    <input name= "imgurl[]" type="text" class="form-control" id="basic-icon-default-category"
                                        aria-describedby="basic-icon-default-image-add" /> 
                                </div>
                            </div>
                        </div>
                        
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
