<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Ansonika">
    <title>Sneakers Store</title>

    <!-- Favicons-->
    <link rel="shortcut icon" href="./customer/img/logo-gap.svg" type="image/x-icon">
    <link rel="apple-touch-icon" type="image/x-icon" href="/customer/img/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="72x72" href="img/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="114x114"
        href="/customer/img/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" type="image/x-icon" sizes="144x144"
        href="/customer/img/apple-touch-icon-144x144-precomposed.png">

    <!-- GOOGLE WEB FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- BASE CSS -->
    <link href="/customer/css/bootstrap.min.css" rel="stylesheet">
    <link href="/customer/css/style.css" rel="stylesheet">

    <!-- SPECIFIC CSS -->


    <!-- YOUR CUSTOM CSS -->
    <link href="/customer/css/custom.css" rel="stylesheet">


    <script src="/customer/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</head>

<body>

    <div id="page">

        <header class="version_1">
            <div class="layer"></div><!-- Mobile menu overlay mask -->
            <div class="main_header">
                <div class="container">
                    <div class="row small-gutters">
                        <div class="col-xl-3 col-lg-3 d-lg-flex align-items-center">
                            <div id="logo">
                                <a href="/home" style="color: white;"><img src="/customer/img/logo-gap.svg" alt=""
                                        width="120" height="40px"></a>
                            </div>
                        </div>
                        <nav class="col-xl-6 col-lg-7">
                            <a class="open_close" href="javascript:void(0);">
                                <div class="hamburger hamburger--spin">
                                    <div class="hamburger-box">
                                        <div class="hamburger-inner"></div>
                                    </div>
                                </div>
                            </a>
                            <!-- Mobile menu button -->
                            <div class="main-menu">
                                <div id="header_menu">
                                    <a href="index.html"><img src="/customer/img/logo_black.svg" alt="" width="100"
                                            height="35"></a>
                                    <a href="#" class="open_close" id="close_in"><i class="ti-close"></i></a>
                                </div>
                                <ul>
                                    <li class="{{#if (equal activeTab 'home')}}active-tab{{/if}}">
                                        <a href="/home">Home</a>
                                    </li>
                                    <li class="{{#if (equal activeTab 'product')}}active-tab{{/if}}">
                                        <a href="/products">Products</a>
                                    </li>

                                    <li class="{{#if (equal activeTab 'contact')}}active-tab{{/if}}">
                                        <a href="/contact">Contact</a>
                                    </li>
                                    <li class="{{#if (equal activeTab 'about')}}active-tab{{/if}}">
                                        <a href="/about">About us</a>
                                    </li>
                                </ul>
                            </div>
                            <!--/main-menu -->
                        </nav>
                        <div class="col-xl-3 col-lg-2 d-lg-flex align-items-center justify-content-end text-end">
                            <a class="phone_top" href="tel://9438843343"><strong><span>Need Help?</span>+94
                                    423-23-221</strong></a>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
            </div>
            <!-- /main_header -->

            <div class="main_nav Sticky">
                <div class="container">
                    <div class="row small-gutters">
                        <div class="col-xl-3 col-lg-3 col-md-3">
                            <nav class="categories">
                                <ul class="clearfix">
                                    <li><span>
                                            <a href="#">
                                                <span class="hamburger hamburger--spin">
                                                    <span class="hamburger-box">
                                                        <span class="hamburger-inner"></span>
                                                    </span>
                                                </span>
                                                Categories
                                            </a>
                                        </span>
                                        <div id="menu">
                                            <ul>
                                                <li><span><a href="#0">Collections</a></span>
                                                    <ul>
                                                        <li><a href="listing-grid-1-full.html">Trending</a></li>
                                                        <li><a href="listing-grid-2-full.html">Life style</a></li>
                                                        <li><a href="listing-grid-3.html">Running</a></li>
                                                        <li><a href="listing-grid-4-sidebar-left.html">Training</a></li>
                                                        <li><a href="listing-grid-5-sidebar-right.html">View all
                                                                Collections</a></li>
                                                    </ul>
                                                </li>
                                                <li><span><a href="#">Men</a></span>
                                                    <ul>
                                                        <li><a href="listing-grid-6-sidebar-left.html">Offers</a></li>
                                                        <li><a href="listing-grid-7-sidebar-right.html">Shoes</a></li>
                                                        <li><a href="listing-row-1-sidebar-left.html">Clothing</a></li>
                                                        <li><a href="listing-row-3-sidebar-left.html">Accessories</a>
                                                        </li>
                                                        <li><a href="listing-row-4-sidebar-extended.html">Equipment</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><span><a href="#">Women</a></span>
                                                    <ul>
                                                        <li><a href="listing-grid-1-full.html">Best Sellers</a></li>
                                                        <li><a href="listing-grid-2-full.html">Clothing</a></li>
                                                        <li><a href="listing-grid-3.html">Accessories</a></li>
                                                        <li><a href="listing-grid-4-sidebar-left.html">Shoes</a></li>
                                                    </ul>
                                                </li>
                                                <li><span><a href="#">Boys</a></span>
                                                    <ul>
                                                        <li><a href="listing-grid-6-sidebar-left.html">Easy On Shoes</a>
                                                        </li>
                                                        <li><a href="listing-grid-7-sidebar-right.html">Clothing</a>
                                                        </li>
                                                        <li><a href="listing-row-3-sidebar-left.html">Must Have</a></li>
                                                        <li><a href="listing-row-4-sidebar-extended.html">All Boys</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><span><a href="#">Girls</a></span>
                                                    <ul>
                                                        <li><a href="listing-grid-1-full.html">New Releases</a></li>
                                                        <li><a href="listing-grid-2-full.html">Clothing</a></li>
                                                        <li><a href="listing-grid-3.html">Sale</a></li>
                                                        <li><a href="listing-grid-4-sidebar-left.html">Best Sellers</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li><span><a href="#">Customize</a></span>
                                                    <ul>
                                                        <li><a href="listing-row-1-sidebar-left.html">For Men</a></li>
                                                        <li><a href="listing-row-2-sidebar-right.html">For Women</a>
                                                        </li>
                                                        <li><a href="listing-row-4-sidebar-extended.html">For Boys</a>
                                                        </li>
                                                        <li><a href="listing-grid-1-full.html">For Girls</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-xl-6 col-lg-7 col-md-6 d-none d-md-block">
                            <form class="custom-search-input" method="get" action="/products">
                                <input type="text" id="search-box" name="search" placeholder="Search over 100 products"
                                    onkeyup="sendData(this)">

                                <button type="submit"><i class="header-icon_search_custom"></i></button>
                                <section id="searchResults" class="bg-white"></section>
                            </form>


                        </div>
                        <div class="col-xl-3 col-lg-2 col-md-3">
                            <ul class="top_tools">
                                <li>
                                    <div class="dropdown dropdown-cart">
                                        <a href="/cart" class="cart_bt"><strong id="cartItemCount">0</strong></a>

                                    </div>
                                    <!-- /dropdown-cart-->
                                </li>
                                <li>
                                    <a href="#0" class="wishlist"><span>Wishlist</span></a>
                                </li>
                                <li>
                                    <div class="dropdown dropdown-access">
                                        <a class="access_link"><span>Account</span></a>
                                        <div class="dropdown-menu">

                                            <!-- Nút sẽ chỉ hiển thị khi người dùng đã đăng nhập -->
                                            <button onclick="logOut();" id="logoutButton" class="btn_1"
                                                style="display:none">Sign Out</button>

                                            <!-- Nút sẽ chỉ hiển thị khi người dùng chưa đăng nhập -->
                                            <a href="/log-in" id="signInButton" class="btn_1" style="display:none">Sign
                                                In or Sign Up</a>

                                            <ul>

                                                <li>
                                                    <a href="/orderlist"><i class="ti-package"></i>My Orders</a>
                                                </li>
                                                <li>
                                                    <a href="/profile"><i class="ti-user"></i>My Profile</a>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /dropdown-access-->
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="btn_search_mob"><span>Search</span></a>
                                </li>
                                <li>
                                    <a href="#menu" class="btn_cat_mob">
                                        <div class="hamburger hamburger--spin" id="hamburger">
                                            <div class="hamburger-box">
                                                <div class="hamburger-inner"></div>
                                            </div>
                                        </div>
                                        Categories
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /row -->
                </div>
                {{!-- <form action="/products/search" method="post">
                    <div class="search_mob_wp">
                        <input type="text" name="search" class="form-control" placeholder="Search over 10.000 products">
                        <input type="submit" class="btn_1 full-width" value="Search">
                    </div>
                </form> --}}
                <!-- /search_mobile -->
            </div>
            <!-- /main_nav -->
        </header>
        <!-- /header -->

        {{{body}}}


        <footer class=" " style="position: relative:  !important;;">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <h3 data-bs-target="#collapse_1">Quick Links</h3>
                        <div class="collapse dont-collapse-sm links" id="collapse_1">
                            <ul>
                                <li><a href="/about">About us</a></li>
                                <li><a href="/profile">My account</a></li>
                                <li><a href="/contact">Contacts</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3 data-bs-target="#collapse_2">Categories</h3>
                        <div class="collapse dont-collapse-sm links" id="collapse_2">
                            <ul>
                                <li><a href="listing-grid-1-full.html">Fashion</a></li>
                                <li><a href="listing-grid-2-full.html">Sport</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3 data-bs-target="#collapse_3">Contacts</h3>
                        <div class="collapse dont-collapse-sm contacts" id="collapse_3">
                            <ul>
                                <li><i class="ti-home"></i>227 Nguyen Van Cu<br>Quan 5, TP. HCM</li>
                                <li><i class="ti-headphone-alt"></i>+84 906643433</li>
                                <li><i class="ti-email"></i><a href="#0">anhthedinh.work@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <h3 data-bs-target="#collapse_4">Keep in touch</h3>
                        <div class="collapse dont-collapse-sm" id="collapse_4">
                            <div id="newsletter">
                                <div class="form-group">
                                    <input type="email" name="email_newsletter" id="email_newsletter"
                                        class="form-control" placeholder="Your email">
                                    <button type="submit" id="submit-newsletter"><i
                                            class="ti-angle-double-right"></i></button>
                                </div>
                            </div>
                            <div class="follow_us">
                                <h5>Follow Us</h5>
                                <ul>
                                    <li><a href="#0"><img
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                data-src="/customer/img/twitter_icon.svg" alt="" class="lazy"></a></li>
                                    <li><a href="#0"><img
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                data-src="/customer/img/facebook_icon.svg" alt="" class="lazy"></a></li>
                                    <li><a href="#0"><img
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                data-src="/customer/img/instagram_icon.svg" alt="" class="lazy"></a>
                                    </li>
                                    <li><a href="#0"><img
                                                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                                data-src="/customer/img/youtube_icon.svg" alt="" class="lazy"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /row-->
                <hr>
                <div class="row add_bottom_25">
                    <div class="col-lg-6">
                        <ul class="footer-selector clearfix">
                            <li>
                                <div class="styled-select lang-selector">
                                    <select>
                                        <option value="English" selected>English</option>
                                        <option value="French">French</option>
                                        <option value="Spanish">Spanish</option>
                                        <option value="Russian">Russian</option>
                                    </select>
                                </div>
                            </li>
                            <li>
                                <div class="styled-select currency-selector">
                                    <select>
                                        <option value="US Dollars" selected>US Dollars</option>
                                        <option value="Euro">Euro</option>
                                    </select>
                                </div>
                            </li>
                            <li><img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                                    data-src="/customer/img/cards_all.svg" alt="" width="198" height="30" class="lazy">
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="additional_links">
                            <li><a href="#0">Terms and conditions</a></li>
                            <li><a href="#0">Privacy</a></li>
                            <li><span>© 2023 GAP</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!--/footer-->
    </div>
    <!-- page -->

    <div id="toTop"></div><!-- Back to top button -->

    <!-- SPECIFIC SCRIPTS -->
    <script>

        function logOut() {
            // Sử dụng Fetch API để gửi yêu cầu POST đến /log-out
            fetch('/log-out', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                // Đối tượng JSON trống vì bạn chỉ cần gửi yêu cầu không cần dữ liệu gửi đi
                body: JSON.stringify({})
            })
                .then(response => response.json())
                .then(data => {
                    window.location.reload(true);
                })
                .catch(error => {
                    // Xử lý lỗi trong quá trình gửi yêu cầu
                    console.error('Error:', error);
                });
        }
        function sendData(e) {
            const searchResult = document.getElementById('searchResults');
            let match = e.value.match(/^[a-zA-Z]*/);
            let match2 = e.value.match(/\s*/);
            if (match2[0] === e.value) {
                searchResult.innerHTML = '';
                return;
            }
            if (match[0] === e.value) {
                fetch('getSearchProducts', {
                    method: 'POST',
                    headers: { 'Content-Type': 'application/json' },
                    body: JSON.stringify({ payload: e.value })
                }).then(res => res.json()).then(data => {
                    let payload = data.payload;
                    searchResult.innerHTML = '';
                    if (!payload || payload.length < 1) {
                        searchResult.innerHTML = '<p>Sorry, there is no product names ' + e.value + '</p>';
                        return;
                    }
                    payload.forEach((item, index) => {
                        if (index > 0) searchResult.innerHTML += '<hr>';
                        searchResult.innerHTML += `<a  href="/products/${item._id}"><p class ="text-lg-left bg-white" ><img src="${item.img[0]}" style ="margin-right:20px" width="60" height="60">${item.name}</p></a>`;
                    });
                });
                return;
            }
            searchResult.innerHTML = '';
        }
    </script>
    <script>
        $(document).ready(function () {
            // Hàm để cập nhật số lượng sản phẩm trong giỏ hàng
            function updateCartCount() {

                $.ajax({
                    type: 'GET',
                    url: '/countProduct', // Thay thế đường dẫn bằng đường dẫn tương ứng trên máy chủ của bạn
                    success: function (data) {
                        $('#cartItemCount').text(data.count);
                        if (data.user) {
                            $('#logoutButton').show();
                            $('#signInButton').hide();
                        }
                        else {
                            $('#logoutButton').hide();
                            $('#signInButton').show();
                        }
                    },
                    error: function (error) {

                    }
                });
            }

            // Gọi hàm khi trang được tải
            updateCartCount();
        });
    </script>
    <style>
        #searchResults {
            margin: 0;
            padding: 0;
            font-weight: 600;
            font-family: Helvetica-Neue;
            justify-content: center;
            padding-left: 30px;

        }
    </style>
</body>

</html>