<link href="/customer/css/listing.css" rel="stylesheet">

<!-- /header -->


<main>

	<!-- /top_banner -->
	<div class="container margin_60_35">
		<div id="stick_here" style="justify-content: center;"></div>

		<!-- /toolbox -->
		<!-- /filter_type -->

		<!-- /col -->
		<h1>User Information</h1>
		<p><strong>Name:</strong> {{user.name}}</p>
		<p><strong>Phone:</strong> {{user.phone}}</p>
		<p><strong>Address:</strong> {{user.address}}</p>
		<form action="/log-out" method="post">
			<button type="submit" class="btn_1">Logout</button>
		</form> <!-- /col -->
	</div>
	<!-- /row -->
</main>
<!-- /container -->

<script src="/customer/js/common_scripts.min.js"></script>
<script src="/customer/js/main.js"></script>
<script src="/customer/js/sticky_sidebar.min.js"></script>
<script src="/customer/js/specific_listing.js"></script>
</main>
<!-- /main -->